<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csp-nonce" content="{{.Nonce}}">
    <title>HADES</title>
    <link rel="icon" href="/assets/logo.png" type="image/png">
    <script type="module" crossorigin src="/assets/index.js" nonce="{{.Nonce}}"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
